<ion-view title="Main">
    <ion-nav-buttons>
        <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
    </ion-nav-title>
    <ion-pane>
        <div style="height: 43px"></div>
        <div style="height: 0.5em"></div>
        <div style="text-align:center;">
            <div class="row row-center">
                <div style="width:0.5em;"></div>
                <div class="col" style="background-color: rgba(134,199,69,1); height:11.5em;">
                    <button class="button button-large button-large button-icon icon ion-home" style="height:100%;color:#FFF;line-height:1em;" ng-click="func_Dashboard()">
                        <p>Dashboard</p>
                    </button>
                </div>
                <div style="width:1em;"></div>
                <div class="col" style="background-color: rgba(242,97,42,1); height:11.5em;">
                    <button class="button button-icon button-large icon ion-calendar" style="height:100%;color:#FFF;line-height:1em;" ng-click="func_AJ()">
                        <p>Accept Jobs</p>
                    </button>
                </div>
                <div style="width:0.5em;"></div>
            </div>
            <div style="height: 0.1em"></div>
            <div class="row row-center">
                <div style="width:0.5em;"></div>
                <div class="col" style="background-color: rgba(164,54,165,1); height:11.5em;">
                    <button class="button button-icon button-large icon ion-android-locate" style="height:100%;color:#FFF;line-height:1em;" ng-click="func_JL()">
                        <p>Job Listing</p>
                    </button>
                </div>
                <div style="width:1em;"></div>
                <div class="col" style="background-color: rgba(0,141,222,1); height:11.5em;">
                    <button class="button button-icon button-large icon ion-android-document" style="height:100%;color:#FFF;line-height:1em;" ng-click="func_DC()">
                        <p>Agent Job</p>
                    </button>
                </div>
                <div style="width:0.5em;"></div>
            </div>
            <div style="height: 0.1em"></div>
            <div class="row row-center">
                <div style="width:0.5em;"></div>
                <div class="col" style="background-color: rgba(4,83,119,1); height:11.5em;">
                    <button class="button button-icon button-large icon ion-arrow-graph-up-right" style="height:100%;color:#FFF;line-height:1em;" ng-click="func_Reports()">
                        <p>Reports</p>
                    </button>
                </div>
                <div style="width:1em;"></div>
                <div class="col" style="background-color: rgba(253,175,23,1); height:11.5em;">
                    <button class="button button-icon button-large icon ion-settings" style="height:100%;color:#FFF;line-height:1em;" ng-click="func_Setting()">
                        <p>Settings</p>
                    </button>
                </div>
                <div style="width:0.5em;"></div>
            </div>
        </div>
    </ion-pane>
</ion-view>
