<ion-view title="JobListing-Confirm">
    <ion-header-bar align-title="center" no-tap-scroll=true class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnDetail()"></button>
        </div>
        <h1 class="title">Job - Confirmation : {{Confirm.aemp1WithAido1.Key}}</h1>
    </ion-header-bar>
    <ion-content>
        <div style="height: 43px;"></div>
        <div class="list card">
            <div class="item">
                <p>Please sign below to confirm that the</p>
                <p>following was collected/delivered :</p>
                <div class="row">
                    <div class="col">
                        <h2>Total Packages</h2>
                    </div>
                    <div class="col">
                        <h2><span ng-bind="Confirm.aemp1WithAido1.PcsUom"></span></h2>
                    </div>
                </div>
            </div>
            <div class="item item-body">
                <div style="height: 4px"></div>
                <div>
                    <canvas id='signatureCanvas' width="323px" height="140px" style="border: 1px solid black;" ng-show="signature==null"></canvas>
                    <img ng-src='{{signature}}' ng-show="signature!=null" />
                    <a class="button  icon-left iconfont ion-android-refresh button-clear button-positive" ng-click="clearCanvas()">Clear</a>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-positive ">
        <div class="button-bar">
            <button class="button icon ion-android-done" ng-click="confirm()" ng-show="Detail.CompletedFlag!='Y'">
                &nbsp;OK
            </button>
            <button class="bar bar-header bar-positive" ng-show="Detail.CompletedFlag=='Y'">
                &nbsp;
            </button>
            <button class="button icon ion-arrow-return-right" ng-click="returnDetail()">
                &nbsp;Cancel
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
