<ion-view title="Daily Completed">
    <ion-header-bar align-title="center" no-tap-scroll=false class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ng-click="returnMain()"></button>
        </div>
        <h1 class="title">Daily Completed</h1>
    </ion-header-bar>
    <ion-pane style="margin-top:44px; height:64px; overflow:visible;">
        <div>
            <div class="row row-center" id="div-list-rcbp">
                <div class="col col-40" style="text-align:center;">
                    <label>Completed Date</label>
                </div>
                <div class="col col-60">
                    <button class="button button-light" id="idCompletedDate" ng-click="OnDatePicker()">
                        <i class="icon ion-calendar"></i>&nbsp;&nbsp;
                        <span ng-bind="Search.CompletedDate"></span>&nbsp;
                        <i class="icon ion-android-arrow-dropdown"></i>
                    </button>
                </div>
            </div>
            <hr style="margin-top:-0.3em;">
        </div>
    </ion-pane>
    <ion-content style="margin-top:100px;">
        <ion-list tabindex="-1" id="div-list">
          <div class="list">
              <ion-list can-swipe="true" tabindex="-1" id="div-list">
                  <ion-item nav-clear menu-close class="item item-icon-right" ng-repeat="job in DailyCompleted.aemp1WithAido1s" >
                      <div class="row" ng-class="{'s-green': job.status.success, 's-red': job.status.failed}">
                          <div class="col col-100">
                              <p><span ng-bind="job.DCFlagWithPcsUom"></span>&nbsp;&nbsp;<span ng-bind="job.time"></span></p>
                              <p><span ng-bind="job.customer.name" style="    white-space: normal;"></span></p>
                              <p><span ng-bind="job.customer.address" style="    white-space: normal;"></span></p>
                          </div>
                          <!-- <i class="icon iconfont ion-android-done" ng-if="job.status.success" style="right:26px;"></i>
                          <i class="icon iconfont ion-android-refresh" ng-if="job.status.inprocess" style="right:26px;"></i>
                          <i class="icon iconfont ion-android-arrow-dropleft" style="right:2px;"></i> -->
                      </div>

                  </ion-item>
              </ion-list>
          </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar class="bar-positive">
        <div class="row" style="padding: 0px;">
          <button class="col button" ng-click="WifiConfirm()">
              <i class="icon ion-android-done"></i>&nbsp;&nbsp;updateConfirm
          </button>
            <button class="col button" ng-click="returnMain()">
                <i class="icon ion-arrow-return-right"></i>&nbsp;&nbsp;Return
            </button>
        </div>
    </ion-footer-bar>

</ion-view>
